.Calendar {
    border: 0.3em solid;
    padding: 0.1em;
    margin-bottom: 0.5em;
    background-color: rgb(174, 201, 245);
}

.Completed {
    background-color: rgb(155, 181, 221);
    text-align: center;
    border: 0.15em solid;
    padding: 0.1em;
    text-decoration: line-through;
}

.Incomplete {
    background-color: rgb(192, 216, 255);
    text-align: center;
    border: 0.15em solid;
    padding: 0.1em;
}

.Completed:hover {
    box-shadow: 0.02em 0.02em 0.02em 0.02em;
    cursor: pointer;
    background-color: rgb(179, 230, 104);
}

.Incomplete:hover {
    box-shadow: 0.02em 0.02em 0.02em 0.02em;
    cursor: pointer;
    background-color: rgb(222, 184, 122);
}

/* Media query for mobile resolutions */
@media only screen and (max-width: 576px) {
    
    .Calendar {
        font-size: 0.9em;
        border-width: 0.27em;
        padding: 0.09em;
        margin-bottom: 0.45em;
    }
    
    .Completed, .Incomplete {
        border-width: 0.15em;
        padding: 0.09em;
    }

    .Completed {
        background-color: rgb(200, 220, 119);
    }

    .Incomplete {
        background-color: rgb(222, 184, 122);
    }
}