.CreateMeso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF2D8;
    margin-left: 15vw;
}

.Inputs {
    margin-bottom: 2em;
}

.Input {
    margin: 1em;
}

.Days {
    display: flex;
    border: solid #113946 0.1em;
}

.Completion {
    margin-bottom: 3em;
}

.AddDayButton {
    background-color: #1e5e74;
    color: #FFF2D8;
    border: solid #113946 0.1em;
    cursor: pointer;
}

.AddDayButton:hover {
    background-color: #257f9d;
    box-shadow: 0.1em 0.1em 0.1em 0.1em;
}

.InvalidInput {
    border: 0.2em solid red;
}

.SuccessModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SuccessModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #EAD7BB;
    padding: 1em;
    border-radius: 0.8em;
    width: 80%;
    max-width: 22em;
    border: solid #113946 0.1em;
}

.Message {
    text-align: center;
}

.Links {
    display: flex;
    justify-content: space-between;
}

.Link {
    background-color: #113946;
    color: #FFF2D8;
    text-decoration: none;
    display: inline-block;
    padding: 0.7em;
    margin-top: 0.6em;
    border-radius: 0.5em;
}

.Link:hover {
    background-color: #257f9d;
}

.Close {
    background-color: #113946;
    color: #FFF2D8;
    text-decoration: none;
    margin-top: 0.8em;
    cursor: pointer;
    padding: 0.5em;
    border: solid #113946 0.1em;
}

.Close:hover {
    background-color: #257f9d;
}

.Input[type="number"]::-webkit-inner-spin-button,
.Input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Input[type="number"] {
    appearance: none;
    -moz-appearance: textfield;
}

@media only screen and (max-width: 576px) {
    .CreateMeso {
        margin-left: 0;
    }

    .Days {
        flex-direction: column;
    }

    .Inputs {
        display: flex;
        margin-bottom: 0.3em;
        background-color: rgb(165, 161, 161);
    }

    .Input {
        margin: 0.3em;
    }

    .Link {
        background: rgb(205, 205, 205);
        text-align: center;
    }
}