.CurrentDay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 161, 161);
    margin-left: 15%;
    width: 85%;
}

.Exercise {
    margin-bottom: 4em;
}

.ExerciseName {
    font-weight: bold;
}

.MuscleGroup {
    font-style: italic;
}

.Rir {
    font-size: 0.73em;
}

.ExerciseNameContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.EndMesoEarly {
    margin-bottom: 2em;
    margin-top: 2em;
    font-weight: bold;
    background-color: rgb(233, 108, 108);
    color: rgb(84, 0, 0);
    box-shadow: 0.1em 0.1em 0.1em 0.1em;
    cursor: pointer;
    border: solid black 0.1em;
}

.EndMesoEarly:hover {
    background-color: red;
    box-shadow: 0.2em 0.2em 0.2em 0.2em;
    color: black;
}

.AddSet {
    cursor: pointer;
    margin-right: 0.5em;
    background-color: rgb(159, 212, 79);
    border: solid black 0.1em;
}

.AddSet:hover {
    background-color: rgb(47, 172, 47);
}

.RemoveSet {
    cursor: pointer;
    margin-left: 0.5em;
    background-color: rgb(231, 168, 168);
    border: solid black 0.1em;
}

.RemoveSet:hover {
    background-color: rgb(197, 65, 65);
}

.LogSet {
    cursor: pointer;
    border: solid black 0.1em;
    margin: 0.2em;
    background-color: rgb(175, 213, 251);
}

.LogSet:hover {
    background-color: rgb(0, 115, 255);
}

.Weight, .Reps{
    background-color: rgb(212, 229, 246);
    border: solid black 0.1em;
    text-align: center;
    margin: 0.1em;
    appearance: none;
    -moz-appearance: textfield;
}

.Weight::-webkit-inner-spin-button,
.Reps::-webkit-inner-spin-button,
.Weight::-webkit-outer-spin-button,
.Reps::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}

/* Media query for mobile resolutions */
@media only screen and (max-width: 576px) {
    .CurrentDay {
        margin-left: 0;
        width: 100%;
        padding: 1em;
    }
    
    .Exercise {
        margin-bottom: 50px;
        width: 90%;
    }
}