.CurrentDay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 161, 161);
    margin-left: 15%;
}

.Exercise {
    margin-bottom: 100px;
}

.ExerciseName {
    font-weight: bold;
}

.MuscleGroup {
    font-style: italic;
}

.Rir {
    font-size: 13px;
}

.ExerciseNameContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.EndMesoEarly {
    margin-bottom: 50px;
    margin-top: 30px;
    font-weight: bold;
    background-color: rgb(233, 108, 108);
    color: rgb(84, 0, 0);
    box-shadow: 1px 1px 1px 1px;
    cursor: pointer;
    border: solid black 1px;
}

.AddSet {
    cursor: pointer;
    margin-right: 5px;
    background-color: rgb(159, 212, 79);
    border: solid black 1px;
}

.RemoveSet {
    cursor: pointer;
    margin-left: 5px;
    background-color: rgb(231, 168, 168);
    border: solid black 1px;
}

.LogSet {
    cursor: pointer;
    border: solid black 1px;
    margin: 3px;
    background-color: rgb(175, 213, 251);
}

.Weight, .Reps{
    background-color: rgb(212, 229, 246);
    border: solid black 1px;
    text-align: center;
    margin: 1px;
}