.CurrentDay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 161, 161);
    margin-left: 15%;
}

.Title {
    margin-bottom: 50px;
}

.Exercise {
    margin-bottom: 40px;
}

.ExerciseName {
    font-weight: bold;
}

.MuscleGroup {
    font-style: italic;
}

.Rir {
    font-size: 13px;
}

.Ellipsis {
    cursor: pointer;
    padding: 0 8px;
}

.Options {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 1;
}

.showOptions {
    display: block;
}

.ExerciseNameContainer {
    position: relative;
}