.DayColumn {
    display: flex;
    flex-direction: column;
    border: solid black 0.1em;
    background-color: rgb(231, 211, 249);
}

.DayLabel {
    display: flex;
    justify-content: space-between;
    background-color: rgb(171, 251, 251);
    padding: 0.8em;
    margin-bottom: 1.5em;
    width: 100%;
}

.Workout {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.AddMuscleButton {
    margin-top: 1em;
    margin-bottom: 1em;
    align-self: center;
    width: 50%;
    background-color: rgb(237, 239, 172);
    border: solid black 0.1em;
    cursor: pointer;
}

.AddMuscleButton:hover {
    box-shadow: 0.1em 0.1em 0.1em 0.1em;
    background-color: rgb(236, 222, 62);
}

.Delete {
    background-color: rgb(255, 108, 108);
    border: black solid 0.1em;
    cursor: pointer;
}

.Delete:hover {
    background-color: red;
    box-shadow: 0.1em 0.1em 0.1em 0.1em;
}

.InvalidInput {
    border: 0.2em solid red;
}

/* Media Query for Mobile Screens */
@media only screen and (max-width: 576px) {
    /* .DayColumn {
        
    } */
}