.DayColumn {
    display: flex;
    flex-direction: column;
    border: solid #113946 0.1em;
    background-color: #EAD7BB;
}

.DayLabel {
    display: flex;
    justify-content: space-between;
    background-color: #113946;
    color: #FFF2D8;
    padding: 0.8em;
    margin-bottom: 1.5em;
    width: 100%;
}

.Workout {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.AddMuscleButton {
    margin-bottom: 1em;
    margin-top: 0.15em;
    align-self: center;
    width: 50%;
    background-color: #113946;
    color: #FFF2D8;
    border: solid #113946 0.1em;
    cursor: pointer;
}

.DeleteMuscleButton {
    margin-top: 1em;
    margin-bottom: 0.15em;
    align-self: center;
    width: 50%;
    background-color: #257f9d;
    color: #FFF2D8;
    border: solid #257f9d 0.1em;
    cursor: pointer;
}

.AddMuscleButton:hover {
    box-shadow: 0.1em 0.1em 0.1em 0.1em;
    background-color: #257f9d;
}

.DeleteMuscleButton:hover {
    box-shadow: 0.1em 0.1em 0.1em 0.1em;
    background-color: #113946;
}

.Delete {
    background-color: #1e5e74;
    color: #FFF2D8;
    border: solid #1b4e5f 0.1em;
    cursor: pointer;
    padding: 0.74em;
}

.Delete:hover {
    background-color: #5cc5e8;
    box-shadow: 0.1em 0.1em 0.1em 0.1em;
    color: black;
}

.InvalidInput {
    border: 0.2em solid red;
}

.CustomExercise {
    margin-bottom: 1em;
    margin-top: 0.15em;
    align-self: center;
    width: 50%;
    background-color: #113946;
    color: #FFF2D8;
    border: solid #113946 0.1em;
    cursor: pointer;
}

.CustomExercise:hover {
    box-shadow: 0.1em 0.1em 0.1em 0.1em;
    background-color: #257f9d;
}

@media only screen and (max-width: 576px) {

    .Delete {
        margin-left: 1em;
    }
}