.LogoModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogoModalContent {
  background: #EAD7BB;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  gap: 20px;
}

.Logos {
  cursor: pointer;
  width: 15em;
  height: 15em;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px;
  border-radius: 10px;
}

.Tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.TabButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 4px;
  transition: background 0.2s;
}

.TabButton:hover {
  background: #113946;
  color: #FFF2D8;
}

.ActiveTab {
  background: #FFF2D8;
}

@media only screen and (max-width: 576px) {
  .LogoModalContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  .Logos {
    width: 7em;
    height: 7em;
  }

  .Tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
  
  .TabButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    margin: 0;
    font-size: 16px;
    border-radius: 4px;
    transition: background 0.2s;
  }
  
  .ActiveTab {
    background: #113946;
    color: #FFF2D8;
  }
}