.MesoList {
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF2D8;
    padding-bottom: 5vh;
}
  
.MesoItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
    max-width: 30%;
    border: solid #113946 3px;
    box-shadow: 2px 2px 2px 2px;
    background-color: #EAD7BB;
}

.MesoItem:hover {
    background-color: #BCA37F;
}

.MesoText {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
  
.MesoControls {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 0.5rem;
}
  

.Check {
    margin-left: 1rem;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
}

.CreatedAt {
    margin-left: 1rem;
    font-size: 0.75em;
}

textarea {
    margin-right: 0.5rem;
    height: auto;
    resize: none;
}

.SaveNote {
    margin-left: 0.5rem;
    background-color: #113946;
    color: #FFF2D8;
    border: solid #113946 1px;
    cursor: pointer;
}

.SaveNote:hover {
    box-shadow: 1px 1px 1px 1px;
    background-color: #257f9d;
}

.Delete {
    margin-left: 0.5rem;
    background-color: #113946;
    color: #FFF2D8;
    border: solid #113946 1px;
    box-shadow: 1px 1px 1px 1px;
    cursor: pointer;
    margin-right: 1em;
}

.Delete:hover {
    background-color: #257f9d;
    box-shadow: 2px 2px 2px 2px;
    color: black;
}

.Details {
    background-color: #113946;
    color: #FFF2D8;
    border: solid #113946 1px;
    cursor: pointer;
    margin-top: 0.5rem;
}

.Details:hover {
    box-shadow: 1px 1px 1px 1px;
    background-color: #257f9d;
}

.EmptyMessage {
    padding: 20px;
    background-color: #ffebcd;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.Link {
    text-decoration: none;
    color: rgb(9, 128, 1);
    font-weight: bold;
    padding: 5px;
    background-color: #ffe0e0;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.Link:hover {
    background-color: #ffcccc;
}

/* Media query for mobile resolutions */
@media only screen and (max-width: 576px) {
    .MesoList {
        margin-left: 0;
        width: 100%;
        padding: 1em;
        padding-bottom: 10vh;
    }

    .MesoItem {
        flex-direction: column;
        align-items: stretch;
        max-width: 100%;
        padding: 1em;
    }

    .MesoText {
        flex-direction: column;
        align-items: stretch;
    }

    .MesoControls {
        flex-direction: column;
        align-items: stretch;
    }

    .SaveNote, .Details {
        width: 100%;
        margin: 0.5em 0;
        text-align: center;
        width: 7em;
        align-self: center;
    }

    .Delete {
        width: 100%;
        margin: 0.4em 0;
        text-align: center;
        align-self: center;
        width: 2em;
    }

    textarea {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .MesoText > * {
        width: 100%; 
        margin: 0.2em 0;
    }

    .Link {
        padding: 0;
    }
}