.MuscleGroupForm {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 10px;
}

.MuscleGroupLabel {
    margin-right: 8px;
    margin-top: 8px;
}

.ExerciseNameLabel {
    margin-right: 8px;
    margin-top: 8px;
}

.InvalidInput {
    border: 2px solid red;
}

/* Media Query for Mobile Screens */
@media only screen and (max-width: 576px) {
    .MuscleGroupForm {
        flex-direction: column;  /* Stack elements vertically on smaller screens */
    }
    .MuscleGroupLabel, .ExerciseNameLabel {
        margin: 0.2em;  /* Adjust margin for better spacing */
    }
}