.SaveMeso {
    margin-top: 4em;
}

.SubmitButton {
    background-color: #4f7b89;
    color: white;
    border: solid #113946 0.1em;
    cursor: pointer;
}

.SubmitButton:hover {
    background-color: #72bdda;
    box-shadow: 0.1em 0.1em 0.1em 0.1em;
    color: black;
}

.SubmitButtonDisabled {
    background-color: #f2f2f2;
    color: #a0a0a0;
    border-color: #d4d4d4;
    cursor: not-allowed;
}

.SubmitButtonDisabled:hover {
    background-color: #213d67;
    color: rgb(249, 249, 249);
}

.ValidationMessage {
    color: #3d6590;
    margin-bottom: 1em;
    font-size: .85em;
}

/* Media Query for Mobile Screens */
@media only screen and (max-width: 576px) {
    .SaveMeso {
        margin-top: 2em;
        margin-bottom: 4em;
    }
}