.SaveMeso {
    margin-top: 4em;
}

.SubmitButton {
    background-color: rgb(242, 161, 192);
    border: solid black 0.1em;
    cursor: pointer;
}

.SubmitButton:hover {
    background-color: rgb(236, 97, 150);
    box-shadow: 0.1em 0.1em 0.1em 0.1em;
}

.SubmitButtonDisabled {
    background-color: #f2f2f2;
    color: #a0a0a0;
    border-color: #d4d4d4;
    cursor: not-allowed;
}

.SubmitButtonDisabled:hover {
    background-color: #a62828;
    color: rgb(249, 249, 249);
}

.ValidationMessage {
    color: rgb(199, 0, 0);
    margin-bottom: 1em;
    font-size: .85em;
}

/* Media Query for Mobile Screens */
@media only screen and (max-width: 576px) {
    .SaveMeso {
        margin-top: 2em;
        margin-bottom: 4em;
    }
}