.SearchSortContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.SearchInput {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #BCA37F;
    background-color: #FFF2D8;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 2em;
}

.SortDropdown {
    padding: 10px 15px;
    border: 1px solid #BCA37F;
    background-color: #FFF2D8;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.SearchIcon {
    margin-right: 0.5em;
    font-size: 1.4em;
}

.FilterIcon {
    margin-right: 0.5em;
    font-size: 1.4em;
}

.SearchContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.FilterContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

/* Media query for mobile resolutions */
@media only screen and (max-width: 576px) {
    .SearchSortContainer {
        flex-direction: column;
        align-items: stretch;
    }

    .SearchInput, .SortDropdown {
        width: 100%;
        margin: 0.5em 0;
    }

    .SearchInput {
        margin-right: 0;
        flex: 1;
    }

    .SearchIcon {
        margin-right: 0.5em;
        font-size: 1.4em;
    }

    .SortDropdown {
        margin-right: 0;
        flex: 1;
    }

    .FilterIcon {
        margin-right: 0.5em;
        font-size: 1.4em;
    }
}