.Sidebar {
    width: 15vw;
    height: 100vh;
    position: fixed;
    background-color: #EAD7BB;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: #113946 0.1em solid;
}

.Link {
    text-decoration: none;
    background-color: #113946;
    color: #FFF2D8;
    border: solid #113946 0.1em;
    padding: 1.2em;
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
}

.Link:hover {
    box-shadow: black 0.1em 0.1em 0.1em 0.1em;
    background-color: #23667d;
}

.SignOutButton {
    padding: 1em;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(112, 43, 43);
    border: solid black 0.1em;
    color: #FFF2D8;
    font-weight: bold;
    align-self: center;
    height: 3.5em;
    width: 3.5em;
    font-size: 1em;
}

.SignOutButton:hover {
    background-color: rgb(221, 85, 85);
    box-shadow: black 0.1em 0.1em 0.1em 0.1em;
    color: white;
}

.Help {
    padding: 1em;
    border-radius: 50%;
    cursor: pointer;
    background-color: #4d3487;
    border: solid black 0.1em;
    color: #FFF2D8;
    font-weight: bold;
    align-self: center;
    height: 4em;
    width: 4em;
    font-size: 1em;
}

.Help:hover {
    background-color: rgb(127, 90, 202);
    box-shadow: black 0.1em 0.1em 0.1em 0.1em;
}

.Logo {
    height: 10em;
    width: 10em;
    align-self: center;
    border-radius: 0.8em 0.8em 0.8em 0.8em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em;
    border: black solid 0.1em;
}

/* Media Query for Mobile Screens */
@media only screen and (max-width: 576px) {
    .Sidebar {
        width: 100vw;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        bottom: 0;
        padding: 1vw;
    }
    
    .Link, .SignOutButton, .Help {
        font-size: 0.8em;
        padding: 0.3em;
    }

    .Link {
        margin-top: 0.4em;
    }

    .Help {
        height: 3em;
        width: 3em;
        margin-right: 0.5em;
    }

    .SignOutButton {
        height: 2em;
        width: 2em;
        margin-left: 0.5em;
    }

    .Logo {
        height: 3em;
        width: 3em;
        margin-right: 0.5em;
    }
}