.Sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color: #abcdef;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.Link {
    text-decoration: none;
    color: black;
}

.SignOutButton {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(248, 187, 187);
}