.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF2D8;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #EAD7BB;
}

.input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #BCA37F;
    background-color: #FFF2D8;
}

.button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #113946;
    color: #FFF2D8;
    cursor: pointer;
}

.button:hover {
    background-color: #257f9d;
}

.button:disabled {
    background-color: #BCA37F;
    cursor: not-allowed;
}

.link {
    text-decoration: none;
    align-self: center;
    margin-top: 30px;
    padding: 5px;
    color: #113946;
}

.link:hover {
    background-color: #BCA37F;
    color: #FFF2D8;
    border: solid #113946 1px;
}

.Logo {
    border-radius: 0.8em 0.8em 0.8em 0.8em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em;
    border: #113946 solid 0.1em;
    height: 17em;
    width: 17em;
}

.Hint {
    font-size: 0.8em;
    color: #113946;
}

@media only screen and (max-width: 576px) {
    .container {
        margin-left: 0;
        width: 100%;
        padding: 1em;
    }
    
    .form {
        width: 90%;
    }
}